tbody{
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
  }

table {
    width: 100%;
    border: 1px solid #000;
    background-color: rgba(104, 82, 71, 0.5);
 }
 th, td {
    width: 25%;
    padding: 10px;
    text-align: left;
    vertical-align: top;
    border: 1px solid #000;
    border-spacing: 0;
    color: white;
    background-color: rgba(49, 24, 10, 0.5);
 }