<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home"><img src="https://scontent-bog1-1.xx.fbcdn.net/v/t1.6435-9/150116371_247403943677231_7972937191724676751_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=be3454&_nc_ohc=K9Xyh4956MoAX-s_csD&_nc_ht=scontent-bog1-1.xx&oh=00_AfB4kztQI9352R_-r5fcfZ1hKQtzirff3J0-WsKDyFQ51Q&oe=65623D83" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" (click)="irAHome()">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToUser()">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="goToClient()">Clients</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container-lg">
    
</div>
<router-outlet></router-outlet>
