<form class="row g-3 needs-validation" novalidate>
    <div class="col-md-6">
        <label for="validationCustom01" class="form-label">Nombre</label>
        <input type="text" name="name" [(ngModel)]="clientInsert.name" class="form-control" id="validationCustom01" placeholder="Nombre" required>
        
    </div>
    <div class="col-md-6">
        <label for="validationCustom02" class="form-label">Apellido</label>
        <input type="text" name="lastName" [(ngModel)]="clientInsert.lastName" class="form-control" id="validationCustom02" placeholder="Apellido" required>
        
    </div>

    <div class="col-md-6">
        <label for="validationCustom03" class="form-label">Documento</label>
        <input type="text" name="document" [(ngModel)]="clientInsert.document" class="form-control" id="validationCustom03" placeholder="Documento" required>
        
    </div>

    <div class="col-12">
        <button class="btn btn-primary" type="submit" (click)="createClient(clientInsert)">Guardar</button>
        <!-- <button class="btn btn-primary" type="submit" (click)="onSubmit()">Guardar</button> -->
    </div>
</form>